@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #ffffff;
}

:root {
  --primary-color: #0095f6;
  --border-color: #dbdbdb;
  --text-gray-color: #737373;
  --link-color: #00376b;
  --input-bg: #efefef;
  --bg-color-light: #fafafa;
  --stories-gradient: linear-gradient(
    204deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
